<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    @charset "utf-8";html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{background:#000}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}a{text-decoration:inherit}body{-webkit-text-size-adjust:none}html,body{margin:0;padding:0}html{-ms-touch-action:none}a,img,div{-webkit-touch-callout:none}*{-webkit-tap-highlight-color:rgba(0,0,0,0)}html,body{-webkit-user-select:none;user-select:none}canvas{position:absolute;margin:0 auto;top:0;left:0;right:0;z-index:6;display:none}video::-webkit-media-controls{display:none!important}video::-webkit-media-controls-fullscreen-button{display:none}video::-webkit-media-controls-play-button{display:none}video::-webkit-media-controls-volume-slider{display:none}video::-webkit-media-controls-mute-button{display:none}video::-webkit-media-controls-timeline{display:none}video::-webkit-media-controls-current-time-display{display:none}video::-webkit-media-controls-time-remaining-display{display:none}video::-webkit-media-controls-toggle-closed-captions-button{display:none}
  </style>
  <style>
    html,body{
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
    #video,#loading,#gif{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    #loading{
      z-index: 10;
      background: #1D1B30;
    }
    #loading img{
      position: absolute;
      height: 100px;
      width: 100px;
      top: 50%;
      left: 50%;
      margin-left: -50px;
      margin-top: -50px;
    }
    
    #video{
      z-index: 5
    }
    
    #gif{
      z-index: 1;
    }
    #gif img{
      height: 100%;
      width: 100%;
    }
    #invitation{
      
    }
    #card{
      /* background: #fff;
      position: fixed;
      height: 100px;
      width: 100px */
    }
  </style>
</head>
<body>

  <div id="loading">
    <img src="http://51wzn.oss-cn-beijing.aliyuncs.com/loading.gif">
  </div>
  <video id="video" preload="auto" x-webkit-airplay="true" webkit-playsinline="true" playsinline="true" style="width: 100%; height: 100%;">
        <source id="mp4" src="http://51wzn.oss-cn-beijing.aliyuncs.com/WeChatSight256.mp4" type="video/mp4">
  </video>


  <audio id="loading-mp3" autoplay="true" loop="loop" src="http://51wzn.oss-cn-beijing.aliyuncs.com/BGM_loading.mp3"></audio>

  <div id="gif">
    <!-- <img src="" > -->
  </div> 
  
  <div id="card">
  
  </div>

  <div id="invitation">

  </div>

  <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  <script>

function isWeiXin(){ 
  var ua = window.navigator.userAgent.toLowerCase(); 
  if(ua.match(/MicroMessenger/i) == 'micromessenger'){ 
    return true; 
  }else{ 
    return false; 
  } 
} 
function init(){
  var video = document.getElementById('video');
  var gif = document.getElementById('gif');
  var loading = document.getElementById('loading');
  var loadingMp3 = document.getElementById('loading-mp3');
  setTimeout(function() {
    loading.remove();
    loadingMp3.pause();
    var video = document.getElementById('video');
    video.play();
  }, 2000);
  video.onended = function(){
    alert("wanle")
  }
}

  if(isWeiXin()){
    document.addEventListener("WeixinJSBridgeReady", function () {
      var gif = document.getElementById('gif');
      var loading = document.getElementById('loading');
      var loadingMp3 = document.getElementById('loading-mp3');
      setTimeout(function() {
        var video = document.getElementById('video');
        video.play();
        loading.remove();
        loadingMp3.pause();
      }, 2000);
    }, false);
  }else{
    init();
  }
</script>

  <script type="text/javascript" src="http://51wzn.oss-cn-beijing.aliyuncs.com/html2canvas.min.js"></script>

  <!-- <script>
  var invitation = document.getElementById('invitation');
  var card = document.getElementById('card');
  html2canvas(invitation, {
    onrendered: function(canvas) {
        var image = new Image();
        image.src = canvas.toDataURL("image/png");
        card.appendChild(image);
    }
  });</script> -->
</body>
</html>