<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>51信用卡五周年庆</title>
  <style>
    @charset "utf-8";html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{background:#000}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}a{text-decoration:inherit}body{-webkit-text-size-adjust:none}html,body{margin:0;padding:0}html{-ms-touch-action:none}a,img,div{-webkit-touch-callout:none}*{-webkit-tap-highlight-color:rgba(0,0,0,0)}html,body{-webkit-user-select:none;user-select:none}canvas{position:absolute;margin:0 auto;top:0;left:0;right:0;z-index:6;display:none}video::-webkit-media-controls{display:none!important}video::-webkit-media-controls-fullscreen-button{display:none}video::-webkit-media-controls-play-button{display:none}video::-webkit-media-controls-volume-slider{display:none}video::-webkit-media-controls-mute-button{display:none}video::-webkit-media-controls-timeline{display:none}video::-webkit-media-controls-current-time-display{display:none}video::-webkit-media-controls-time-remaining-display{display:none}video::-webkit-media-controls-toggle-closed-captions-button{display:none}
  </style>
  <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>  
  <script src="http://51wzn.oss-cn-beijing.aliyuncs.com/fullpage.js"></script>  
  <link href="http://51wzn.oss-cn-beijing.aliyuncs.com/fullpage.css" rel="stylesheet" type="text/css" />   
  <script>
  $.fn.countTo = function (options) 
{
        options = options || {};

        $.fn.countTo.defaults = {
            from: 0,               // 开始数据
            to: 0,                 // 结束数据
            speed: 2500,           // 过渡时间
            refreshInterval: 100,  // 刷新时间
            decimals: 1,           // 小数点位数
            formatter: formatter,  // handler for formatting the value before rendering
            onUpdate: null,        // callback method for every time the element is updated
            onComplete: null       // callback method for when the element finishes updating
        };

        function formatter(value, settings) {
            return value+'%'
        }    

        
        return $(this).each(function () 
        {

            // set options for current element
            var settings = $.extend({}, $.fn.countTo.defaults, 
            {
                from:            $(this).data('from'),
                to:              $(this).data('to'),
                speed:           $(this).data('speed'),
                refreshInterval: $(this).data('refresh-interval'),
                decimals:        $(this).data('decimals')
            }, options);


            
            // how many times to update the value, and how much to increment the value on each update
            var loops = Math.ceil(settings.speed / settings.refreshInterval),
                increment = (settings.to - settings.from) / loops;


            
            // references & variables that will change with each update
            var self = this,
                $self = $(this),
                loopCount = 0,
                value = settings.from,
                data = $self.data('countTo') || {};
            


            $self.data('countTo', data);


            
            // if an existing interval can be found, clear it first
            if (data.interval) {
                clearInterval(data.interval);
            }

            data.interval = setInterval(updateTimer, settings.refreshInterval);

            function render(value) {
                var formattedValue = settings.formatter.call(self, value, settings);
                $self.html(formattedValue);
            }
            
            function updateTimer() 
            {
                value += increment;
                loopCount++;
                
                render(value);
                
                if (typeof(settings.onUpdate) == 'function'){
                    settings.onUpdate.call(self, value);
                }
                
                if (loopCount >= loops) {
                    // remove the interval
                    $self.removeData('countTo');
                    clearInterval(data.interval);
                    value = settings.to;
                    
                    if (typeof(settings.onComplete) == 'function') {
                        settings.onComplete.call(self, value);
                    }
                }
            }
            
            // initialize the element with the starting value
            render(value);
        });
 }</script>  
  <style>
    html,body{
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
    #video,#loading,#gif{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
    }
    #loading{
      z-index: 10;
      background: #1D1B30;
    }
    #loading img{
      position: absolute;
      height: 100px;
      width: 100px;
      top: 50%;
      left: 50%;
      margin-left: -50px;
      margin-top: -80px;
    }

    #loading .countdown{
      position: absolute;
      height: 100px;
      width: 100px;
      top: 50%;
      left: 50%;
      margin-left: -50px;
      margin-top: 25px;
      font-size: 20px;
      color:#ffc515;
      text-align: center;
    }
    
    .button{
      position: absolute;
      height: 30px;
      width: 120px;
      background:url('http://51wzn.oss-cn-beijing.aliyuncs.com/IMG_6814.JPG');
      background-size: contain;
      top: 50%;
      left: 50%;
      margin-left: -50px;
      margin-top: 25px;
    }
    #video{
      z-index: 5
    }
    
    #gif{
      display: none;
    }
    #gif img{
      height: 100%;
      width: 100%;
    }
    #invitation{
      display: none;
      background: url('http://51wzn.oss-cn-beijing.aliyuncs.com/yaoqinghan.png');
      background-size: cover;
    }
    #invitation,#card img{
      position: absolute;
      z-index: 100;
      height: 80%;
      width: 90%;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    #card{
      background: url('http://51wzn.oss-cn-beijing.aliyuncs.com/popyaoqing.png') no-repeat;
      display: none;
      background-size: cover;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 100%;
    }
    #card img{
      z-index: 200;
    }
    #name{
      position: absolute;
      top: 41%;
      color: #333;
      left: 50%;
      margin-left: -50px;
      text-align: center;
      width: 100px;
      font-size: 20px;
    }
    #bt{
      position: absolute;
      bottom: 25px;
      width: 154px;
      height: 35px;
      left: 50%;
      margin-left: -76px;
      background: url(http://51wzn.oss-cn-beijing.aliyuncs.com/btn_save.png);
      background-size: cover;
    }
  </style>
</head>
<body>
    <div id="dowebok">
        <div class="section">
            <div id="loading">
                <img src="http://51wzn.oss-cn-beijing.aliyuncs.com/loading.gif">
                <div class="countdown" data-time="3" data-value="0">
            
                </div>
              </div>
              <video id="video" preload="auto" x-webkit-airplay="true" webkit-playsinline="true" playsinline="true" style="width: 100%; height: 100%;">
                    <source id="mp4" src="http://51wzn.oss-cn-beijing.aliyuncs.com/%E7%BB%88%E7%BB%93%E5%90%A7_1.mp4" type="video/mp4">
              </video>
            
            
              <audio id="loading-mp3" autoplay="true" loop="loop" src="http://51wzn.oss-cn-beijing.aliyuncs.com/BGM_loading.mp3"></audio>
              <audio id="loop-mp3" autoplay="true" loop="loop" src="http://51wzn.oss-cn-beijing.aliyuncs.com/BGM_loop.mp3"></audio>
              
              <div id="gif">
                <img src="http://51wzn.oss-cn-beijing.aliyuncs.com/todown.gif">
              </div> 
        </div>
        <div class="section">
            <div id="card">
                
            </div>
            <div id="invitation">
                <div id="name">
                  
                </div>
            </div>
            <div id="bt">

            </div>
        </div>
    </div>
<script>
  function audioAutoPlay(id){
    var audio = document.getElementById(id);

    var play = function() {
        document.removeEventListener("WeixinJSBridgeReady", play);

        audio.play();
        audio.pause();
    };
    
    audio.play();
    audio.pause();

    //weixin
    document.addEventListener("WeixinJSBridgeReady", play, false);

}

// $('#dowebok').fullpage({
//                   onLeave:function(index,nextIndex){
//                     if(nextIndex==2){
//                       $('#loop-mp3')[0].play();
//                       $('#name').text(getSearchString('for'))
//                       setTimeout(function(){
//                         var invitation = $('#invitation');
//                         invitation.show();
//                         var card = document.getElementById('card');
//                         html2canvas(invitation[0], {
//                           onrendered: function(canvas) {
//                               var image = new Image();
//                               image.src = canvas.toDataURL("image/png");
//                               card.appendChild(image);
//                           }
//                         });
//                       },2500)
//                     }
//                   }
//                 });
function getSearchString(key) {
     // 获取URL中?之后的字符
      var str = location.search;
      str = str.substring(1,str.length);
      
      // 以&分隔字符串，获得类似name=xiaoli这样的元素数组
      var arr = str.split("&");
      var obj = new Object();
      
     // 将每一个数组元素以=分隔并赋给obj对象
     for(var i = 0; i < arr.length; i++) {
         var tmp_arr = arr[i].split("=");
         obj[decodeURIComponent(tmp_arr[0])] = decodeURIComponent(tmp_arr[1]);
     }
     return obj[key];
 }

function isWeiXin(){ 
  var ua = window.navigator.userAgent.toLowerCase(); 
  if(ua.match(/MicroMessenger/i) == 'micromessenger'){ 
    return true; 
  }else{ 
    return false; 
  } 
} 
function removeLoading(){
  var loadingMp3 = document.getElementById('loading-mp3');
  var loading = document.getElementById('loading');
  loading.remove();
  loadingMp3.pause();
}
  if(isWeiXin()){
    document.addEventListener("WeixinJSBridgeReady", function () {
      
      document.getElementById('loading-mp3').play();
      document.getElementById('video').play()
      document.getElementById('video').pause();
      document.getElementById('loop-mp3').play();
      document.getElementById('loop-mp3').pause();

      $('.countdown').each(function()
      {
          $(this).data('from',0);
          $(this).data('to',100);
          $(this).countTo({
            onComplete:function(){
              $('.countdown').remove();
              $('#loading').append('<div class="button"></button>');
              var video = document.getElementById('video');
              video.onended = function(){
                $('#card').show();
                $('video').remove();
                $('#gif').show();
                $('#dowebok').fullpage({
                  onLeave:function(index,nextIndex){
                    if(nextIndex==2){
                      document.getElementById('loop-mp3').play();
                      $('#name').text(getSearchString('for'))
                      setTimeout(function(){
                        var invitation = $('#invitation');
                        invitation.show();
                        var card = document.getElementById('card');
                        html2canvas(invitation[0], {
                          onrendered: function(canvas) {
                              var image = new Image();
                              image.src = canvas.toDataURL("image/png");
                              card.appendChild(image);
                          }
                        });
                      },2500)
                    }
                  }
                });
              }
              $('#loading').click(function(){
                removeLoading();
                video.play();
              })
            }
          });
      });

      
    }, false);
    
  }else{
    document.getElementById('loading-mp3').play();
    document.getElementById('video').play()
    document.getElementById('video').pause();

    $('.countdown').each(function()
    {
        $(this).data('from',0);
        $(this).data('to',100);
        $(this).countTo({
          onComplete:function(){
            $('.countdown').remove();
            $('#loading').append('<div class="button"></button>');
            var video = document.getElementById('video');
            video.onended = function(){
              $('#card').show();
              $('video').remove();
              $('#gif').show();
              $('#dowebok').fullpage({
                onLeave:function(index,nextIndex){
                  if(nextIndex==2){
                    document.getElementById('loop-mp3').play();
                    $('#name').text(getSearchString('for'))
                    setTimeout(function(){
                      var invitation = $('#invitation');
                      invitation.show();
                      var card = document.getElementById('card');
                      html2canvas(invitation[0], {
                        onrendered: function(canvas) {
                            var image = new Image();
                            image.src = canvas.toDataURL("image/png");
                            card.appendChild(image);
                        },
                        allowTaint: true,
                        taintTest: false
                      });
                    },2500)
                  }
                }
              });
            }
            $('#loading').click(function(){
              removeLoading();
              video.play();
            })
          }
        });
    });
  }
</script>

  <script type="text/javascript" src="http://51wzn.oss-cn-beijing.aliyuncs.com/html2canvas.min.js"></script>
</body>
</html>