<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>51信用卡五周年庆</title>
  
  <style type="text/css">
  #input{
    margin-top: 100px;
    position: absolute;
    top: 25%;
    left: 50%;
    height: 33px;
    width: 200px;
    margin-left: -100px;
    background: #ffc800;
  }
    #button{
        height: 40px;
        width: 130px;
        position: absolute;
        top: 51%;
        left: 50%;
        margin-left: -65px;
    
    }

    body{
        height: 100%;
        width: 100%;
        background: url('http://51wzn.oss-cn-beijing.aliyuncs.com/admin.png');
        background-size: cover;
    }
</style>
  <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>  
  <script src="http://51wzn.oss-cn-beijing.aliyuncs.com/a.js"  ></script> 
  
</head>
<body>
    <script>
        function getUrl(){
            var val = $('#input').val();

            U51Wechat.init({
                app: 'rp'         // jsapilist默认会注册 ["onMenuShareTimeline", "onMenuShareAppMessage"] ， 如需新增可覆盖
                }, function (err, wx) {
                
                    if (!err) {
                        // wx 对象即官方文档上面的对象，可调用其方法
                        wx.onMenuShareAppMessage({
                            title: '51信用卡五周年邀请函', // 分享标题
                            desc: '侠客孙氏，诚邀'+val+'亲临51信用卡五周年庆典', // 分享描述
                            link: 'http://wetist.com?for='+encodeURIComponent(val), // 分享链接
                            imgUrl: 'http://51wzn.oss-cn-beijing.aliyuncs.com/WechatIMG1398.jpeg', // 分享图标
                        });

                        alert('点击右上角分享')
                    }
                })
        }
    </script>

    <input type="text" id="input" >
    <div id="button" onclick="getUrl();"></div>
</body>
</html>